.modal-sub-btn {
  background-color: royalblue;
  border-color: royalblue;
  color: white; }

.modal-content {
  border: none;
  width: 10%;
  height: 100%;
  margin-top: 20%;
  margin-left: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .modal-content .modal-name {
    width: auto;
    margin: 2%; }
  .modal-content .modal-button {
    width: auto; }
