.menu-main-windowyy {
  font-family: Ubuntu;
  background-color: silver;
  display: flex;
  flex-direction: row;
  border-color: black;
  justify-content: space-between; }

.nav11bar {
  margin: 0;
  padding: 0; }

.menu-name {
  font-style: italic;
  font-weight: bolder;
  font-size: 20px; }

.menu-sing-outhover {
  cursor: pointer; }
