.task-main-window {
  border-top: 1px solid grey; }
  .task-main-window #donetask {
    text-decoration: line-through; }
  .task-main-window:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f7ff94; }
    .task-main-window:hover .task-tools {
      opacity: 100; }
  .task-main-window .task-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .task-main-window .task-body .task-name {
      margin-top: 0px;
      width: 78%;
      padding-left: 12px;
      word-break: break-all;
      margin-bottom: 0px;
      border-left: 1px solid silver;
      border-right: 1px solid silver; }
  .task-main-window .check-task {
    margin-left: 14px;
    margin-top: 8px;
    margin-bottom: 8px; }
  .task-main-window .task-tools {
    margin: 8px;
    opacity: 0; }
    .task-main-window .task-tools:hover {
      cursor: pointer;
      zoom: normal; }
