.task-main-window {
  #donetask {
    text-decoration: line-through;
  }
  &:hover {
    background-color: #f7ff94;
    opacity: 100;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  border-top: 1px solid grey;

  .task-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    .task-name {
      margin-top: 8px;
      width: 78%;
      padding-left: 12px;
      word-break: break-all;
      margin-bottom: 8px;
    }
  }

  .check-task {
    margin-left: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .task-tools {
    margin: 8px;
    opacity: 0;
    &:hover {
      cursor:pointer;
      zoom: normal;
      opacity: 100;
    }
  }
}