.task-main-window {
  #donetask {
    text-decoration: line-through;
  }

  &:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f7ff94;
    .task-tools {
      opacity: 100;
    }
  }

  border-top: 1px solid grey;

  .task-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .task-name {
      margin-top: 0px;
      width: 78%;
      padding-left: 12px;
      word-break: break-all;
      margin-bottom: 0px;
      border-left: 1px solid silver;
      border-right: 1px solid silver;
    }
  }

  .check-task {
    margin-left: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .task-tools {
    margin: 8px;
    opacity: 0;
    align-self: center;
    display: flex;
    &:hover {
      cursor:pointer;
      zoom: normal;
    }
    .task-up-down-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 2px;
      .up-btn {
        position: absolute;
      }
      .down-btn {
        margin-top: 8px;
      }
    }
    .task-ed-del-btn {
      margin-left: 2px;
      align-self: center;
      display: flex;
      .edit-btn {

        border-left: solid 1px grey;
        padding-left: 2px;
      }
      .del-btn {
        border-left: solid 1px grey;
        padding-left: 2px;
        margin: 0 5px;
      }
    }
  }
}