.list-main-window {
  width: 35%;
  background-color: white;
  margin-bottom: 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 4px; }
  .list-main-window:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .list-main-window:hover .list-tools {
      opacity: 100; }

.list-header {
  background: royalblue;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0px 0px 4px; }
  .list-header .list-tools {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.0; }
    .list-header .list-tools:hover {
      cursor: pointer; }

.list-label {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }

.list-name {
  font-family: Ubuntu;
  font-size: 20px;
  color: white;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  word-break: break-all; }
